@()

@index("Create user") {
	
	<h4>Registration. Your account!</h4><hr></hr>
	
	<form action="@routes.CreateUser.createUser()" method="post" role="form">
	
	  <div class="form-group">
	    <label for="user-name">Name</label>
	    <input type="text" class="form-control" id="user-name" name="name" placeholder="name">
	  </div>
	  <div class="form-group">
	    <label for="user-username">Username</label>
	    <input type="text" class="form-control" id="user-username" name="username" placeholder="username">
	  </div>
	  <div class="form-group">
	    <label for="user-password">Password</label>
	    <input type="text" class="form-control" id="user-password" name="password" placeholder="password">
	  </div>
	  <div class="form-group">
	    <label for="user-address">Address</label>
	    <input type="text" class="form-control" id="user-address" name="address" placeholder="address">
	  </div>
	  <div class="form-group">
	    <label for="user-phone">Telephone number</label>
	    <input type="text" class="form-control" id="user-phone" name="phone" placeholder="phone">
	  </div>

	  <button type="submit" class="btn btn-default">Submit</button>
	  
	</form>

}