@(shoppingBasket : List[ShoppingBasket], products : List[Product])

@index("Shopping Basket") {
	
	<br><h4>Shopping Basket</h4>
	<hr></hr>
					
	<div class="panel panel-default">
	
	<div class="panel-heading"></div>
		<table class="table">		
			<thead>
				<tr>
					<th>Name</th>
					<th>Quantity</th>
					<th>Total costs</th>
				</tr>
			</thead>
			<tbody>			
				@for(basket <- shoppingBasket){	
					@for(product <- products){
						@if(basket.getProduct_id == product.getId){
							<tr>
							<th><h6>@product.getName</h6></th>
							<th><h6>@basket.getQuantity</h6></th>
							<th><h6>@product.getCost</h6></th>
							</tr>
						}
					}
				}	
			</tbody>			
		</table>
	</div>
		
	<hr></hr>
	
	
		<a href="@routes.OrderController.order()"><h5 align= "right">Buy now ---></h5></a>
	
}
